.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .h-sm-50 {
        height: 50%;
    }
}
@media only screen and (min-width: 992px) {
    .h-md-100 {
        height: 100%;
    }
}